In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
df = pd.read_csv('fcc-forum-pageviews.csv', index_col='date')

In [10]:
df.head(-5)

             value
date
2016-05-09    1201
2016-05-10    2329
2016-05-11    1716
2016-05-12   10539
2016-05-13    6933
...            ...
2019-11-24  138875
2019-11-25  219608
2019-11-26  220590
2019-11-27  208223
2019-11-28  202049

[1299 rows x 1 columns]

In [11]:
df_sorted = df.sort_values(by='value')

In [12]:
df_sorted.head(-5)

             value
date
2016-05-09    1201
2016-05-11    1716
2016-05-10    2329
2016-05-16    2591
2016-05-15    2927
...            ...
2019-11-18  221181
2019-11-19  221555
2019-10-22  229870
2019-10-24  255178
2019-10-23  273708

[1299 rows x 1 columns]

In [13]:
shape = df_sorted.shape[0]
df_sorted = df_sorted[round(shape * 0.025) : round(shape * 0.975)]

In [14]:
df_sorted.head(-5)

             value
date
2016-05-26   18060
2016-06-08   18072
2016-06-09   18139
2016-06-07   18335
2016-06-15   18584
...            ...
2018-10-13  168644
2019-11-21  169121
2019-10-17  169663
2018-10-17  169915
2019-11-29  171584

[1233 rows x 1 columns]

In [15]:
df.filter(items=df_sorted)

             value
date
2016-05-09    1201
2016-05-10    2329
2016-05-11    1716
2016-05-12   10539
2016-05-13    6933
...            ...
2019-11-29  171584
2019-11-30  141161
2019-12-01  142918
2019-12-02  220144
2019-12-03  158549

[1304 rows x 1 columns]

In [16]:
df.head()

            value
date
2016-05-09   1201
2016-05-10   2329
2016-05-11   1716
2016-05-12  10539
2016-05-13   6933

In [25]:
fig, ax = plt.subplots(figsize=(14,7))
ax.plot('value', 'date',data=df)

ValueError: Unrecognized character a in format string